/* Box-Sizing initial declaration */
html {
    /* Set border-box as the global default */
    -moz-box-sizing: border-box; /* Legacy */
    -webkit-box-sizing: border-box; /* Legacy */
    box-sizing: border-box;
}

*, *::before, *::after {
    /* Allow each element to override */
    -moz-box-sizing: inherit; /* Legacy */
    -webkit-box-sizing: inherit; /* Legacy */
    box-sizing: inherit;
}

/* No list bullets and padding */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* No link decoration */
a {
    text-decoration: none;
    color: inherit;
}