.location-form {
  background: $colour-background-input;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 30px;
  &__label {

  }
  &__input {
    background: transparent;
    border: none;
    outline: none;
  }
}