.site-header {
  padding: 25px 20px 10px;
  box-shadow: 0 0 8px darkgrey;
  position: relative;
  &__logo {
    width: 170px;
    margin: auto;
    .site-logo {
      width: 100%;
      height: 100%;
    }
  }
}