.main-content {
  display: flex;
  flex-direction: column;
}

.menu-image {
  height: 275px;
  width: 100%;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.menu {
  background: $colour-background-light;
  padding: 40px 20px 80px;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -50px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include content-max-width-desktop;
  }
  &__title {
    margin: 0;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    font-size: 1.75rem;
  }
  &__favorite {
    padding-right: 20px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    @include content-max-width-desktop;
    @include medium-screen-up {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0;
      & > * {
        margin-bottom: 4%;
      }
    }
    @include desktop-content-width-up {
      & > * {
        margin-bottom: 0;
      }
    }
  }
}

.menu-category {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @include medium-screen-up {
    width: 48%;
  }
  @include desktop-content-width-up {
    width: 31%;
  }
  &__title {
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding-bottom: 5px;
    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 40px;
      height: 3px;
      background: $colour-tertiary;
    }
  }
  &__item {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: $colour-white;
    border-radius: 15px;
    box-shadow: 0 4px 14px 0 lightgrey;
    overflow: hidden;
    animation: items-loading 1s both;
    @include items-transition-delay();
    &:hover, &:active {
      > .item-selected {
        width: 70px;
        > .item-selected__content {
          transform: translateX(0);
          > .item-selected__icon {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 13px 20px 13px 12px;
  gap: 10px;
  width: 100%;
  min-width: 100px;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    min-width: 100px;
  }
  &__title {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__description {
    margin: 0;
    font-weight: 300;
    font-size: 0.93rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__price {
    margin: 0;
    font-weight: 500;
    font-size: 0.93rem;
  }
}

.item-selected {
  flex-shrink: 0;
  width: 0;
  color: $colour-white;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colour-tertiary;
  transition: all 0.3s ease-in-out;
  &__content {
    display: flex;
    transform: translateX(30px);
    transition: transform 0.3s ease-in-out;
  }
  &__icon {
    transform: rotate(-225deg);
    transition: transform 0.2s 0.1s ease-in-out;
  }
}

.order {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}