.button {
  border: none;
  //background: linear-gradient(173deg, #ff9158 0%, #ff9158 40%, #cc56ff 130%);
  background: radial-gradient(100% 120% at 50% 0%, $colour-secondary 0%, $colour-primary 100%);
  border-radius: 25px;
  color: $colour-white;
  height: 50px;
  padding: 0 20px;
  box-shadow: 0 4px 8px #B8B8B8;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: radial-gradient(100% 120% at 50% 0%, lighten($colour-secondary, 5%) 0%, lighten($colour-primary, 5%) 100%);
    box-shadow: 0 4px 10px #9b9b9b;
  }
  &:active {
    background: radial-gradient(100% 120% at 50% 0%, lighten($colour-secondary, 5%) 0%, lighten($colour-primary, 5%) 100%);
    box-shadow: 0 4px 10px #9b9b9b;
  }
  &--large {
    padding: 0 50px;
  }
}