.button {
  border: none;
  background: radial-gradient(100% 120% at 50% 0%, $colour-secondary 0%, $colour-primary 100%);
  border-radius: 25px;
  color: $colour-white;
  height: 50px;
  padding: 0 20px;
  box-shadow: 0 4px 8px #B8B8B8;
  cursor: pointer;
  position: relative;
  z-index: 1;
  &:hover, &:active {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    @include transition-opacity-after;
    background: radial-gradient(100% 120% at 50% 0%, lighten($colour-secondary, 5%) 0%, lighten($colour-primary, 5%) 100%);
    box-shadow: 0 4px 8px #B8B8B8;
    transition: opacity 0.2s ease-in-out;
  }
  &--large {
    padding: 0 50px;
  }
}