.favorite {
  font-size: 1.5rem;
  display: flex;
  position: relative;
  cursor: pointer;
  &--big {
    font-size: 1.6rem; // TODO: refactor with function?
  }
  &:hover,
  &:active {
    .favorite-unchecked {
      opacity: 0;
    }
    .favorite-checked {
      opacity: 1;
      transform: scale(1);
    }
  }
  .favorite-unchecked {
    position: absolute;
    background-color: transparent;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }
  .favorite-checked {
    z-index: 1;
    font-weight: 700;
    background: linear-gradient($colour-primary, $colour-secondary);
    color: transparent;
    -webkit-background-clip: text;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s, transform 0.25s ease-in-out;
  }
}