.favorite {
  font-size: 1.5rem;
  transition: 0.3s ease-in-out; // TODO: transition goes first to bold plain black, then color. Transition from a color ?
  &--big {
    font-size: 1.6rem; // TODO: refactor with function?
  }
  &:hover {
    color: transparent;
    background: linear-gradient($colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    font-weight: 700;
    cursor: pointer;
  }
  &:active {
    color: transparent;
    background: linear-gradient($colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    font-weight: 700;
    cursor: pointer;
  }
}