.howto {
  padding: 30px 20px 60px;
  &__content {
    width: 100%;
    @include content-max-width-desktop;
  }
  &__title {
  }
  &__steps {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: auto;
    @include large-screen-up {
      flex-direction: row;
      justify-content: space-around;
      padding-left: 0;
    }
  }
}

.step {
  background-color: $colour-background-light;
  border-radius: 25px;
  height: 75px;
  box-shadow: 0 4px 14px 0 lightgrey; // TODO: mixin
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  @include desktop-content-width-up {
    width: 29%;
  }
  &:hover {
    background-color: lighten($colour-primary, 35%);
    .step__icon {
      color: $colour-primary;
    }
  }
  &__number {
    font-size: 1rem;
    color: $colour-white;
    background-color: $colour-primary;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    margin-left: -12px;
  }
  &__icon {
    width: 60px;
    font-size: 1.2rem;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 1rem;
    font-weight: 500;
    padding-top: 4px;
  }
  &--purple {
    background-color: lighten($colour-primary, 35%);
    .step__icon {
      color: $colour-primary;
    }
  }
}

.restaurants {
  background: $colour-background-light;
  padding: 30px 20px 40px;
  &__content {
    @include content-max-width-desktop;
  }
  &__title {
  }
  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__cards > * {
    margin-bottom: 20px;
    flex: 0 0 100%;
    @include small-screen-up {
      flex: 0 0 48.5%;
      margin-bottom: 3%;
    }
  }
}