@mixin small-screen-up {
  @media screen and (min-width: map-get($breakpoints, sm)) {
    @content;
  }
}

@mixin medium-screen-up {
  @media screen and (min-width: map-get($breakpoints, md)) {
    @content;
  }
}

@mixin large-screen-up {
  @media screen and (min-width: map-get($breakpoints, lg)) {
    @content;
  }
}

@mixin desktop-content-width-up {
  @media screen and (min-width: map-get($breakpoints, desktop-content)) {
    @content;
  }
}

@mixin content-max-width-desktop {
  margin: auto;
  max-width: $desktop-max-width;
}

@mixin items-transition-delay($menu-items: $max-menu-items-in-category,$start-delay: 0, $delay: 0.2) {
  @for $item from 1 through $menu-items {
    &:nth-of-type(#{$item}) {
      animation-delay: #{$start-delay + $item * $delay}s;
    }
  }
}