$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #FFF;
$colour-background-light: #F6F6F6;
$colour-background-dark: #353535;
$colour-background-input: #EAEAEA;
$colour-font-primary: black;
$colour-font-secondary: #353535;
$colour-icons: #7E7E7E;

$breakpoints: (
  'tablet' : 600px,
  'desktop' : 1000px
);
